# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg

# ==========================
# Virtual Environments
# ==========================
.venv/
venv/
ENV/
env/

# ==========================
# IDE / Editor
# ==========================
.vscode/
.idea/
*.swp
*.swo
*~
.spyderproject
.spyproject

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db
desktop.ini

# ==========================
# Jupyter Notebook
# ==========================
.ipynb_checkpoints/

# ==========================
# Course Materials (Copyright)
# ==========================
*.pdf
*.docx

# ==========================
# Generated Outputs
# ==========================
*.png
*.jpg
!04_mole_segmentation/data/images/*.jpg
